@model IEnumerable<CRUDMVC.Models.PERSONA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDENTIFICACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GENERO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDENTIFICACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDOS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GENERO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PERSONAID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PERSONAID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PERSONAID })
        </td>
    </tr>
}

</table>
